@charset "UTF-8";
/* 利用scale解决1px hack */
/*利用gradient解决 1px hack */
@-webkit-keyframes dialogIn { 0% { -webkit-transform: scale(0.8); -moz-transform: scale(0.8); -ms-transform: scale(0.8); transform: scale(0.8); } }
@keyframes dialogIn { 0% { -webkit-transform: scale(0.8); -moz-transform: scale(0.8); -ms-transform: scale(0.8); transform: scale(0.8); } }
@-webkit-keyframes dialogOut { 100% { -webkit-transform: scale(0.8); -moz-transform: scale(0.8); -ms-transform: scale(0.8); transform: scale(0.8); opacity: 0; } }
@keyframes dialogOut { 100% { -webkit-transform: scale(0.8); -moz-transform: scale(0.8); -ms-transform: scale(0.8); transform: scale(0.8); opacity: 0; } }
@-webkit-keyframes hint { 0% { -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -ms-transform: scale(0.5); transform: scale(0.5); opacity: 1; }
  30% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); transform: scale(1); opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; } }
@keyframes hint { 0% { -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -ms-transform: scale(0.5); transform: scale(0.5); opacity: 1; }
  30% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); transform: scale(1); opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; } }
@-webkit-keyframes rotate { 0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); } }
@keyframes rotate { 0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); } }
@-webkit-keyframes rotateUp { 0% { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }
  100% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); } }
@keyframes rotateUp { 0% { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }
  100% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); } }
@-webkit-keyframes listUp { 0% { height: auto; }
  100% { height: 23.8rem; } }
@keyframes listUp { 0% { height: auto; }
  100% { height: 23.8rem; } }
@-webkit-keyframes listDown { 0% { height: 23.8rem; }
  100% { height: auto; } }
@keyframes listDown { 0% { height: 23.8rem; }
  100% { height: auto; } }
@-webkit-keyframes tagListUp { 0% { height: 180px; }
  100% { height: 0; } }
@keyframes tagListUp { 0% { height: 180px; }
  100% { height: 0; } }
@-webkit-keyframes tagListDown { 0% { height: 0; }
  100% { height: 180px; } }
@keyframes tagListDown { 0% { height: 0; }
  100% { height: 180px; } }
@-webkit-keyframes slideUp { 0% { -webkit-transform: translateY(100%); -moz-transform: translateY(100%); -ms-transform: translateY(100%); transform: translateY(100%); opacity: 0; }
  25% { opacity: 1; }
  100% { -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); } }
@keyframes slideUp { 0% { -webkit-transform: translateY(100%); -moz-transform: translateY(100%); -ms-transform: translateY(100%); transform: translateY(100%); opacity: 0; }
  25% { opacity: 1; }
  100% { -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); } }
@-webkit-keyframes slideDown { 0% { -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); opacity: 1; }
  80% { opacity: 0; }
  100% { opacity: 0; -webkit-transform: translateY(100%); -moz-transform: translateY(100%); -ms-transform: translateY(100%); transform: translateY(100%); } }
@keyframes slideDown { 0% { -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); opacity: 1; }
  80% { opacity: 0; }
  100% { opacity: 0; -webkit-transform: translateY(100%); -moz-transform: translateY(100%); -ms-transform: translateY(100%); transform: translateY(100%); } }
@-webkit-keyframes jm-bounceInRight { 0%, 60%, 75%, 90%, 100% { -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); -ms-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% { opacity: 0; -webkit-transform: translate3d(3000px, 0, 0); -moz-transform: translate3d(3000px, 0, 0); -ms-transform: translate3d(3000px, 0, 0); transform: translate3d(3000px, 0, 0); }
  60% { opacity: 1; -webkit-transform: translate3d(-25px, 0, 0); -moz-transform: translate3d(-25px, 0, 0); -ms-transform: translate3d(-25px, 0, 0); transform: translate3d(-25px, 0, 0); }
  75% { -webkit-transform: translate3d(10px, 0, 0); -moz-transform: translate3d(10px, 0, 0); -ms-transform: translate3d(10px, 0, 0); transform: translate3d(10px, 0, 0); }
  90% { -webkit-transform: translate3d(-5px, 0, 0); -moz-transform: translate3d(-5px, 0, 0); -ms-transform: translate3d(-5px, 0, 0); transform: translate3d(-5px, 0, 0); }
  100% { opacity: 1; -webkit-transform: none; -moz-transform: none; -ms-transform: none; transform: none; } }
@-moz-keyframes jm-bounceInRight { 0%, 60%, 75%, 90%, 100% { -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); -ms-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% { opacity: 0; -webkit-transform: translate3d(3000px, 0, 0); -moz-transform: translate3d(3000px, 0, 0); -ms-transform: translate3d(3000px, 0, 0); transform: translate3d(3000px, 0, 0); }
  60% { opacity: 1; -webkit-transform: translate3d(-25px, 0, 0); -moz-transform: translate3d(-25px, 0, 0); -ms-transform: translate3d(-25px, 0, 0); transform: translate3d(-25px, 0, 0); }
  75% { -webkit-transform: translate3d(10px, 0, 0); -moz-transform: translate3d(10px, 0, 0); -ms-transform: translate3d(10px, 0, 0); transform: translate3d(10px, 0, 0); }
  90% { -webkit-transform: translate3d(-5px, 0, 0); -moz-transform: translate3d(-5px, 0, 0); -ms-transform: translate3d(-5px, 0, 0); transform: translate3d(-5px, 0, 0); }
  100% { opacity: 1; -webkit-transform: none; -moz-transform: none; -ms-transform: none; transform: none; } }
@-ms-keyframes jm-bounceInRight { 0%, 60%, 75%, 90%, 100% { -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); -ms-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% { opacity: 0; -webkit-transform: translate3d(3000px, 0, 0); -moz-transform: translate3d(3000px, 0, 0); -ms-transform: translate3d(3000px, 0, 0); transform: translate3d(3000px, 0, 0); }
  60% { opacity: 1; -webkit-transform: translate3d(-25px, 0, 0); -moz-transform: translate3d(-25px, 0, 0); -ms-transform: translate3d(-25px, 0, 0); transform: translate3d(-25px, 0, 0); }
  75% { -webkit-transform: translate3d(10px, 0, 0); -moz-transform: translate3d(10px, 0, 0); -ms-transform: translate3d(10px, 0, 0); transform: translate3d(10px, 0, 0); }
  90% { -webkit-transform: translate3d(-5px, 0, 0); -moz-transform: translate3d(-5px, 0, 0); -ms-transform: translate3d(-5px, 0, 0); transform: translate3d(-5px, 0, 0); }
  100% { opacity: 1; -webkit-transform: none; -moz-transform: none; -ms-transform: none; transform: none; } }
@keyframes jm-bounceInRight { 0%, 60%, 75%, 90%, 100% { -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); -ms-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% { opacity: 0; -webkit-transform: translate3d(3000px, 0, 0); -moz-transform: translate3d(3000px, 0, 0); -ms-transform: translate3d(3000px, 0, 0); transform: translate3d(3000px, 0, 0); }
  60% { opacity: 1; -webkit-transform: translate3d(-25px, 0, 0); -moz-transform: translate3d(-25px, 0, 0); -ms-transform: translate3d(-25px, 0, 0); transform: translate3d(-25px, 0, 0); }
  75% { -webkit-transform: translate3d(10px, 0, 0); -moz-transform: translate3d(10px, 0, 0); -ms-transform: translate3d(10px, 0, 0); transform: translate3d(10px, 0, 0); }
  90% { -webkit-transform: translate3d(-5px, 0, 0); -moz-transform: translate3d(-5px, 0, 0); -ms-transform: translate3d(-5px, 0, 0); transform: translate3d(-5px, 0, 0); }
  100% { opacity: 1; -webkit-transform: none; -moz-transform: none; -ms-transform: none; transform: none; } }
@-webkit-keyframes MI { 0%,100% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); transform: scale(1); } }
@keyframes MI { 0%,100% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); transform: scale(1); } }
/*=====================
以下是基于ip6 375宽度做的适配
标准html{font-size:100px}
=======================*/
/*================================================================
以下为基于ip5 宽度320做的适配，标准html{font-size:10px},即1rem = 10px
=================================================================*/
@media screen and (max-width: 319px) { html { font-size: 85.33333px; } }
@media screen and (min-width: 320px) and (max-width: 359px) { html { font-size: 85.33333px; } }
@media screen and (min-width: 360px) and (max-width: 374px) { html { font-size: 96px; } }
@media screen and (min-width: 375px) and (max-width: 383px) { html { font-size: 100px; } }
@media screen and (min-width: 384px) and (max-width: 399px) { html { font-size: 102.4px; } }
@media screen and (min-width: 400px) and (max-width: 413px) { html { font-size: 106.66667px; } }
@media screen and (min-width: 414px) { html { font-size: 110.4px; } }
/*=================================================================
以上只是rem初始化  具体模块还需要具体调，以下为相关适配
@media screen and (min-width: 320px) {} //for iphone 5
@media screen and (min-width: 375px) {} //for iphone 6
@media screen and (min-width: 414px) {} //for iphone 6 plus
@media screen and (min-aspect-ratio: 69/100) {} //for huawei荣耀6
@media screen and (min-aspect-ratio: 7/10) {} //for mx3
@media screen and (max-height: 480px) {} //for iphone 4
@media screen and (max-height: 420px) {} //for iphone 4 微信
@media only screen and (orientation: landscape) {} // for 横屏
==============================================================*/
@font-face { font-family: "iconfont"; src: url("fonts/iconfont.eot?t=1460619198");
  /* IE9*/
  src: url("fonts/iconfont.eot?t=1460619198#iefix") format("embedded-opentype"), url("fonts/iconfont.woff?t=1460619198") format("woff"), url("fonts/iconfont.ttf?t=1460619198") format("truetype"), url("fonts/iconfont.svg?t=1460619198#iconfont") format("svg");
  /* iOS 4.1- */ }
@font-face { font-family: "DIN-Alternate Bold"; src: url("fonts/DIN-Alternate Bold.eot");
  /* IE9 */
  src: url("fonts/DIN-Alternate Bold.eot?#iefix") format("embedded-opentype"), url("fonts/DIN-Alternate Bold.woff") format("woff"), url("fonts/DIN-Alternate Bold.ttf") format("truetype"), url("fonts/DIN-Alternate Bold.svg#DIN-Alternate Bold") format("svg");
  /* iOS 4.1- */
  font-style: normal; font-weight: normal; }
@font-face { font-family: "DINBold"; src: url("fonts/DINBold.eot");
  /* IE9 */
  src: url("fonts/DINBold.eot?#iefix") format("embedded-opentype"), url("fonts/DINBold.woff") format("woff"), url("fonts/DINBold.ttf") format("truetype");
  /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
  font-style: normal; font-weight: normal; }
.iconfont { font-family: "iconfont" !important; font-style: normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale; }

.numfont { font-family: "DIN-Alternate Bold" !important; font-style: normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale; }

.dinBold { font-family: "DINBold" !important; font-style: normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale; }

.icon-down:before { content: "\e600"; }

.icon-right:before { content: "\e602"; }

.icon-up:before { content: "\e603"; }

.icon-left:before { content: "\e604"; }

.icon-jiantou:before { content: "\e608"; }

.icon-jiantouUp:before { content: "\e609"; }

.icon-jiantouDown:before { content: "\e60a"; }

/* 利用scale解决1px hack */
/*利用gradient解决 1px hack */
/**============================
loading Rotate
==============================*/
@-webkit-keyframes rotate { 0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); } }
@-moz-keyframes rotate { 0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); } }
@-ms-keyframes rotate { 0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); } }
@keyframes rotate { 0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); } }
/**============================
fade
==============================*/
@-webkit-keyframes fadeOut { 0% { opacity: 1; }
  100% { opacity: 0; } }
@-moz-keyframes fadeOut { 0% { opacity: 1; }
  100% { opacity: 0; } }
@-ms-keyframes fadeOut { 0% { opacity: 1; }
  100% { opacity: 0; } }
@keyframes fadeOut { 0% { opacity: 1; }
  100% { opacity: 0; } }
@-webkit-keyframes fadeIn { 0% { opacity: 0; }
  100% { opacity: 1; } }
@-moz-keyframes fadeIn { 0% { opacity: 0; }
  100% { opacity: 1; } }
@-ms-keyframes fadeIn { 0% { opacity: 0; }
  100% { opacity: 1; } }
@keyframes fadeIn { 0% { opacity: 0; }
  100% { opacity: 1; } }
/**============================
slider
==============================*/
@-webkit-keyframes slideLeft { 0% { opacity: 0; -webkit-transform: translate(1.5rem, 0); -moz-transform: translate(1.5rem, 0); -ms-transform: translate(1.5rem, 0); transform: translate(1.5rem, 0); }
  100% { opacity: 1; -webkit-transform: translate(0%, 0); -moz-transform: translate(0%, 0); -ms-transform: translate(0%, 0); transform: translate(0%, 0); } }
@-moz-keyframes slideLeft { 0% { opacity: 0; -webkit-transform: translate(1.5rem, 0); -moz-transform: translate(1.5rem, 0); -ms-transform: translate(1.5rem, 0); transform: translate(1.5rem, 0); }
  100% { opacity: 1; -webkit-transform: translate(0%, 0); -moz-transform: translate(0%, 0); -ms-transform: translate(0%, 0); transform: translate(0%, 0); } }
@-ms-keyframes slideLeft { 0% { opacity: 0; -webkit-transform: translate(1.5rem, 0); -moz-transform: translate(1.5rem, 0); -ms-transform: translate(1.5rem, 0); transform: translate(1.5rem, 0); }
  100% { opacity: 1; -webkit-transform: translate(0%, 0); -moz-transform: translate(0%, 0); -ms-transform: translate(0%, 0); transform: translate(0%, 0); } }
@keyframes slideLeft { 0% { opacity: 0; -webkit-transform: translate(1.5rem, 0); -moz-transform: translate(1.5rem, 0); -ms-transform: translate(1.5rem, 0); transform: translate(1.5rem, 0); }
  100% { opacity: 1; -webkit-transform: translate(0%, 0); -moz-transform: translate(0%, 0); -ms-transform: translate(0%, 0); transform: translate(0%, 0); } }
@-webkit-keyframes slideRight { 0% { opacity: 0; -webkit-transform: translate(-1.5rem, 0); -moz-transform: translate(-1.5rem, 0); -ms-transform: translate(-1.5rem, 0); transform: translate(-1.5rem, 0); }
  100% { opacity: 1; -webkit-transform: translate(0%, 0); -moz-transform: translate(0%, 0); -ms-transform: translate(0%, 0); transform: translate(0%, 0); } }
@-moz-keyframes slideRight { 0% { opacity: 0; -webkit-transform: translate(-1.5rem, 0); -moz-transform: translate(-1.5rem, 0); -ms-transform: translate(-1.5rem, 0); transform: translate(-1.5rem, 0); }
  100% { opacity: 1; -webkit-transform: translate(0%, 0); -moz-transform: translate(0%, 0); -ms-transform: translate(0%, 0); transform: translate(0%, 0); } }
@-ms-keyframes slideRight { 0% { opacity: 0; -webkit-transform: translate(-1.5rem, 0); -moz-transform: translate(-1.5rem, 0); -ms-transform: translate(-1.5rem, 0); transform: translate(-1.5rem, 0); }
  100% { opacity: 1; -webkit-transform: translate(0%, 0); -moz-transform: translate(0%, 0); -ms-transform: translate(0%, 0); transform: translate(0%, 0); } }
@keyframes slideRight { 0% { opacity: 0; -webkit-transform: translate(-1.5rem, 0); -moz-transform: translate(-1.5rem, 0); -ms-transform: translate(-1.5rem, 0); transform: translate(-1.5rem, 0); }
  100% { opacity: 1; -webkit-transform: translate(0%, 0); -moz-transform: translate(0%, 0); -ms-transform: translate(0%, 0); transform: translate(0%, 0); } }
.box { display: box; display: -ms-box; display: -webkit-box; display: flex; display: -ms-flex; display: -webkit-flex; }

.boxItem { flex: 1; -ms-flex: 1; -webkit-flex: 1; box-flex: 1; -ms-box-flex: 1; -webkit-box-flex: 1; width: 0; }

.Arial { font-family: arial; }

.rem10 { font-size: 1rem; }

.rem12 { font-size: 1.2rem; }

.rem14 { font-size: 1.4rem; }

.rem16 { font-size: 1.6rem; }

.rem18 { font-size: 1.8rem; }

.rem20 { font-size: 2rem; }

.rem22 { font-size: 2.2rem; }

.rem24 { font-size: 2.4rem; }

.rem26 { font-size: 2.6rem; }

.rem28 { font-size: 2.8rem; }

.rem30 { font-size: 3rem; }

.rem35 { font-size: 3.5rem; }

.rem36 { font-size: 3.6rem; }

.rem40 { font-size: 4rem; }

.size7 { font-size: 7px; }

.size18 { font-size: 18px; }

.size22 { font-size: 22px; }

.size26 { font-size: 26px; }

.size35 { font-size: 35px; }

.size36 { font-size: 36px; }

.size40 { font-size: 40px; }

.size46 { font-size: 46px; }

.size50 { font-size: 50px; }

.size75 { font-size: 75px; }

.black { color: #333333; }

.blue { color: #508CEE; }

.white { color: #ffffff; }

.lightGrey { color: #999999; }

.grey { color: #666666; }

.red { color: #EE3D3D; }

.orange { color: #ff5a17; }

.green { color: #44BF97; }

.yellow { color: #ff801a; }

.blackBg { background-color: #191c21; }

.whiteBg { background-color: #ffffff; }

.lightGreyBg { background-color: #999999; }

.greyBg { background-color: #f9f9f9; }

.redBg { background-color: #EE3D3D; }

.mrR10 { margin-right: 1rem; }

.mlR10 { margin-left: 1rem; }

.mlR15 { margin-left: 1.5rem; }

.mrR15 { margin-right: 1.5rem; }

.mlR20 { margin-left: 2rem; }

.mrR20 { margin-right: 2rem; }

.mtR10 { margin-top: 1rem; }

.mtR15 { margin-top: 1.5rem; }

.mtR13 { margin-top: 1.3rem; }

.mtR20 { margin-top: 2rem; }

.mtR25 { margin-top: 2.5rem; }

.mtbR13 { margin-top: 1.3rem; margin-bottom: 1.3rem; }

.mrR25 { margin-right: 2.5rem; }

.ptR15 { padding-top: 1.5rem; }

.t1 { top: 1px; }

.mt2 { margin-top: 2px; }

.mt3 { margin-top: 3px; }

.mt12 { margin-top: 12px; }

.mt30 { margin-top: 30px; }

.mt40 { margin-top: 40px; }

.mt45 { margin-top: 45px; }

.mr30 { margin-right: 30px; }

.mb50 { margin-bottom: 50px; }

.mb80 { margin-bottom: 80px; }

.mt50 { margin-top: 50px; }

.mt88 { margin-top: 88px; }

.mtR30 { margin-top: 3rem; }

.mtR35 { margin-top: 3.5rem; }

.mtR64 { margin-top: 6.4rem; }

.mlR20 { margin-left: 2rem; }

.mlR30 { margin-left: 3rem; }

.pt3 { padding-top: 3px; }

.pt13 { padding-top: 13px; }

.pb30 { padding-bottom: 30px; }

.pb40 { padding-bottom: 40px; }

.pt30 { padding-top: 30px; }

.pt40 { padding-top: 40px; }

.pr30 { padding-right: 35px; }

.pr50 { padding-right: 50px; }

.pl30 { padding-left: 30px; }

.pl35 { padding-left: 35px; }

.plR5 { padding-left: 0.5rem; }

.plR10 { padding-left: 1rem; }

.plR15 { padding-left: 1.5rem; }

.plR20 { padding-left: 2rem; }

.plR20 { padding-left: 2rem; }

.plR25 { padding-left: 2.5rem; }

.plR30 { padding-left: 3rem; }

.plrR20 { padding-left: 2rem; padding-right: 2rem; }

.plr35 { padding-left: 35px; padding-right: 35px; }

.plr50 { padding-left: 50px; padding-right: 50px; }

.ptb7 { padding-top: 7px; padding-bottom: 7px; }

.plrR25 { padding-right: 2.5rem; padding-left: 2.5rem; }

.pb50 { padding-bottom: 50px; }

.pb80 { padding-bottom: 80px; }

.pl16 { padding-left: 16px; }

.pr16 { padding-right: 16px; }

.plr16 { padding-left: 16px; padding-right: 16px; }

.H10 { height: 10px; }

.w30 { width: 30%; }

.w40 { width: 40%; }

.w45 { width: 45%; }

.w50 { width: 50%; }

.w60 { width: 60%; }

.w70 { width: 70%; }

.w80 { width: 80%; }

.w90 { width: 90%; }

.w100 { width: 100%; }

.wh100 { width: 100%; height: 100%; }

.lineHDefault { line-height: 1; }

.inlineBlock { display: inline-block; }

.opacity6 { opacity: 0.6; }

.opacity5 { opacity: 0.5; }

.opacity3 { opacity: 0.3; }

.tIndent { text-indent: 2em; }

.borderBottom { border-bottom: 1px solid #f0f0f0; }

.borderTop { border-top: 1px solid #f0f0f0; }

.borderRight { border-right: 1px solid #e1e1e1; }

.ellipsis { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block; }

.justify { text-align: justify; }

.nowrap { white-space: nowrap; }

.noBorder { border: none; }

.wrap { max-width: 1200px; min-height: 100%; margin: auto; overflow: hidden; }

.hintBox { display: block; z-index: 200; }

.hint { padding: 15px 40px; color: #ffffff; background-color: rgba(0, 0, 0, 0.8); border-radius: 5px; -webkit-animation: hint 1.3s 0s 1 ease forwards; -moz-animation: hint 1.3s 0s 1 ease forwards; -ms-animation: hint 1.3s 0s 1 ease forwards; animation: hint 1.3s 0s 1 ease forwards; display: none; }

.hide { display: none; }

html, body { width: 100%; height: 100%; font-weight: 300; }

.hidden { display: none; }

/*清除浮动*/
.clearfix:after { content: ""; display: block; clear: both; height: 0; }

.clearfix { zoom: 1; }

em, i { font-style: normal; }

.pay-container { max-width: 1200px; min-height: 100%; margin: auto; overflow: hidden; background-color: #FAFAFA; position: relative; }

.white-bg { background-color: #fff !important; }
